<div class="task-deletion">
  <div class="task-deletion__content">
    <div class="task-deletion__content__title">
      Xác nhận xóa quy trình <b>{{ data.projectName }}</b
      >?
    </div>
    <div class="task-deletion__content__description"></div>
  </div>
  <div class="task-deletion__action">
    <div class="task-deletion__action__cancel-btn" (click)="onNoClick()">
      Hủy
    </div>
    <button
      class="task-deletion__action__approval-btn"
      (click)="deleteProcess()"
      [disabled]="isLoading"
    >
      <app-loader
        size="15px"
        color="white"
        *ngIf="isLoading; else btnname"
      ></app-loader>
      <ng-template #btnname>Đồng ý</ng-template>
    </button>
  </div>
</div>
