<div class="process">
  <div class="process__all">
    <div class="row process__all__heading">
      <div class="col-md-6 heading1 process__all__heading__title">
        Quy trình
      </div>
      <div class="col-md-6 process__all__heading__button">
        <button
          class="process__all__heading__button__creation"
          (click)="openCreationProcessDialog()"
        >
          Tạo quy trình
        </button>
      </div>
    </div>
    <div class="process__all__list">
      <div
        class="process__all__list__process-item"
        *ngFor="let process of processList"
        
      >
        <!-- [routerLink]="[process.projectId]" -->
        <!-- <a ></a> -->

        <div class="process__all__list__process-item__name">
          {{ process.projectName }}
        </div>
        <!-- <div class="process__all__list__process-item__duration">
                    <span class="title">
                        Đối tượng:
                    </span>
                    <span class="value">Tôm</span>
                </div> -->
        <div class="process__all__list__process-item__duration">
          <span class="title"> Thời gian: </span>
          <span *ngIf="process.projectDuration != 0" class="value"
            >{{ process.projectDuration }} ngày</span
          >
          <span *ngIf="process.projectDuration == 0" class="value">
            Chưa xác định</span
          >
        </div>
        <div class="process__all__list__process-item__remove">
          <!-- <span (click)="handleOnClick($event)">
            <div class="item" (click)="deleteProcess(process)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="16"
                width="12"
                viewBox="0 0 384 512"
              >
                <path
                  d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                />
              </svg>
            </div>
          </span> -->
        </div>
        <div class="process__all__list__process-item__detail-btn">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="13px" height="13px"><path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"/></svg> -->
          <div class="delete" (click)="deleteProcess(process)"> Xóa </div>
          <div class="detail" (click)="openDetail(process.projectId)"> Chi tiết </div>
        </div>
        <!-- <div class="process__all__list__process-item__action">
          <div class="process__all__list__process-item__action__detail-btn">
            Chi tiết
          </div>
          <div class="process__all__list__process-item__action__detail-btn">
            Xóa
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="process__executing"></div>
</div>
