@import "../../../../../../../../assets/scss/sass-config.scss";
.creation-subtask {
  padding: 20px;
  width: 500px;
  &__title {
    font: {
      size: 24px;
      weight: bold;
    }
  }
  &__form {
    &__name, &__description {
      margin-top: 25px;
      label {
        display: block;
      }
      input, textarea {
        margin-top: 12px;
        width: 100%;
        max-height: 200px;
        min-height: 40px;
        border: 1px solid $gray;
        padding: 0 5px;
        transition: all .3s ease;
        &:focus {
            outline: none;
            transition: padding-left 0.3s ease;
            padding-left: 10px;
        }
      }
      textarea {
        height: 100px;
        padding: 8px 5px;
      }
    }
    &__action{
      margin-top: 15px;
      display: flex;
      justify-content: right;
      &__creative-btn {
        @include button(180px, 50px, $dark-blue);
      }
      &__cancel-btn {
        margin-right: 10px;
        @include button(80px, 50px, absolute);
        color: black;
      }
    }
  }
}