<div class="task-deletion">
  <div class="task-deletion__content">
    <div *ngIf="data.taskName" class="task-deletion__content__title">
      Xác nhận xóa công việc <b>{{ data.taskName }}</b
      >?
    </div>
    <div *ngIf="data.subTaskName" class="task-deletion__content__title">
      Xác nhận xóa tiêu chí <b>{{ data.subTaskName }}</b
      >?
    </div>
    <div class="task-deletion__content__description"></div>
  </div>
  <div class="task-deletion__action">
    <div class="task-deletion__action__cancel-btn" (click)="onNoClick()">
      Hủy
    </div>
    <button
      class="task-deletion__action__approval-btn"
      (click)="deleteTask()"
      [disabled]="isLoading"
      [mat-dialog-close]="data"
    >
      <app-loader
        size="15px"
        color="white"
        *ngIf="isLoading; else btnname"
      ></app-loader>
      <ng-template #btnname>Đồng ý</ng-template>
    </button>
  </div>
</div>
