<div class="task-creation-form">
  <div class="task-creation-form__title">Chỉnh sửa công việc</div>
  <form
    class="task-creation-form__form"
    [formGroup]="modificationForm"
    (ngSubmit)="updateTask()"
  >
    <div class="task-creation-form__form__name">
      <label for="">Tên công việc</label>
      <input
        type="text"
        name=""
        id=""
        tabindex="-1"
        formControlName="taskName"
      />
    </div>
    <div class="task-creation-form__form__description">
      <label for="">Mô tả công việc</label>
      <input
        type="text"
        name=""
        id=""
        tabindex="-1"
        formControlName="taskDescription"
      />
    </div>
    <div class="task-creation-form__form__prerequiste">
      <label for="">Công việc tiên quyết</label>
      <!-- <mat-form-field class="box-content__field-100">
        <mat-chip-list #chipList class="chip-list">
          <div>
            <mat-chip
              class="chip-list__chip-item"
              *ngFor="let itemPrerequisites of prerequisites.value"
              [removable]="true"
              (removed)="removeTopping(itemPrerequisites)"
            >
              {{ itemPrerequisites.taskId }}
            </mat-chip>
          </div>
        </mat-chip-list>
        <mat-select
        
          multiple
          [style.display]="prerequisites ? 'none' : 'block'"
          [(ngModel)]="prerequisiteIdList"
        >
          <mat-option
            *ngFor="let prerequisite of prerequisitesList"
            [value]="prerequisite.taskId"
          >
            {{ prerequisite.taskId }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field >
        <mat-select [formControl]="toppings" multiple tabindex="-1">
          <mat-option *ngFor="let topping of toppingList" [value]="topping.taskId" (click)="showArray()" >{{ topping.taskName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="task-creation-form__form__duration">
      <label for="">Thời gian</label>
      <input
        type="number"
        name=""
        id=""
        min="1"
        tabindex="-1"
        formControlName="taskDuration"
      />
      <span>ngày</span>
    </div>
    <!-- <div class="task-creation-form__form__period">
      <label for="">Khoảng thời gian thực hiện</label>
    </div> -->
    <div class="task-creation-form__form__action">
      <div
        class="task-creation-form__form__action__cancel-btn"
        (click)="onNoClick()"
      >
        Hủy
      </div>
      <button
        type="submit"
        class="task-creation-form__form__action__creative-btn"
        [disabled]="isLoading"
        [mat-dialog-close]="data"
      >
        <app-loader
          size="15px"
          color="white"
          *ngIf="isLoading; else btnname"
        ></app-loader>
        <ng-template #btnname>Cập nhật</ng-template>
      </button>
    </div>
  </form>
</div>
