
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-blue: (
  50: #1a2848,
  100: #1a2848,
  200: #1a2848,
  300: #1a2848,
  400: #1a2848,
  500: #1a2848,
  600: #1a2848,
  700: #1a2848,
  800: #1a2848,
  900: #1a2848,
  A100: #1a2848,
  A200: #1a2848,
  A400: #1a2848,
  A700: #1a2848,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ppm-view-primary: mat.define-palette($my-blue);
$ppm-view-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ppm-view-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ppm-view-theme: mat.define-light-theme((
  color: (
    primary: $ppm-view-primary,
    accent: $ppm-view-accent,
    warn: $ppm-view-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ppm-view-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Mulish', sans-serif !important;
  background-color: #E9EDF0 !important; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}